

		@media screen and (max-width: 1920px) {
			
			header	{
	background-image: linear-gradient(rgba(156, 7, 7, 0.5),rgba(45, 157, 201, 0.5)), url(../images/1.jpg);
	height:100vh; width:100vw; background-size: cover; background-position: center; }
	.logo img{ float:left; width:100px; height: 50px; margin-top:15px; margin-left: 10px;}
	/* .fa-bars, .fa-times {display: none;}	 */
	/* .hamburger-btn > .fa-bars, .fa-times {	 display: none;} */
	.hamburger-btn > #bars { display: none;}
	.hamburger-btn > #times { display: none;}
			body	{	background-color: rgba(167, 148, 42, 0.616);
			
			}
		
		}
				
						
								
		@media screen and (max-width: 1200px) {
		
		header	{
	background-image: linear-gradient(rgba(156, 7, 7, 0.5),rgba(45, 157, 201, 0.5)), url(../images/1.jpg);
	height:100vh; width:100vw; background-size: cover; background-position: center; }
	.logo img{ float:left; width:100px; height:auto; margin-top:15px; margin-left: 0px;}
	.menu-div > ul {display: flex; flex-direction: column;}
	/* #mob-menu {    display: none;  } */
	.hamburger-btn #bars {	 display: block; position: absolute;	z-index: 1;	top: 20px;	right: 20px;	font-size: 30px;		}
	.hamburger-btn #times { display: none;	position: absolute;	z-index: 2;	top: 20px;	right: 20px;	font-size: 30px;		}
	/* .menu-div > ul { display: block; list-style: none;} */
	
		body	{	background-color: rgba(158, 42, 96, 0.5);	}
		.main-div{ display:flex; flex-direction:column; width:100%; height:auto; 		}


	footer {display: flex; flex-direction: column;}

	
	.sosel-div1, .sosel-div2{ width:100%;}

		
		}


   	@media screen and (max-width: 920px) {
		
		header	{
	background-image: linear-gradient(rgba(156, 7, 7, 0.5),rgba(45, 157, 201, 0.5)), url(../images/1.jpg);
	height:100vh; width:100vw; background-size: cover; background-position: center; }
		body	{	background-color: rgba(49, 49, 138, 0.5);
			
			}
	
	}
	
	@media screen and (max-width: 800px) {
		
		header	{
	background-image: linear-gradient(rgba(156, 7, 7, 0.5),rgba(45, 157, 201, 0.5)), url(../images/1.jpg);
	height:100vh; width:100vw; background-size: cover; background-position: center; }
		body	{	background-color: rgba(134, 40, 158, 0.664);
			
			}
		
		
	}
	
	
	@media screen and (max-width: 720px) {
		
		header	{
	background-image: linear-gradient(rgba(156, 7, 7, 0.5),rgba(45, 157, 201, 0.5)), url(../images/1.jpg);
	height:100vh; width:100vw; background-size: cover; background-position: center; }
		body	{	background-color: rgba(86, 52, 124, 0.5);
			
			}
	}
	
	@media screen and (max-width: 600px) {
		
		header	{
	background-image: linear-gradient(rgba(156, 7, 7, 0.5),rgba(45, 157, 201, 0.5)), url(../images/1.jpg);
	height:100vh; width:100vw; background-size: cover; background-position: center; }
		
		body	{	background-color: rgba(46, 46, 51,0.5);
			
			}
		
	}	
	
	@media screen and (max-width: 480px) {
		body {	
			background-color: rgba(34, 34, 36, 0.603);
		}
		header	{
	background-image: linear-gradient(rgba(156, 7, 7, 0.5),rgba(45, 157, 201, 0.5)), url(../images/1.jpg);
	height:100vh; width:100vw; background-size: cover; 
	background-position: center; }
	.logo img{ float:left; width:50px; height:auto; margin-top:10px;}
	/*body {	margin: 0;  padding:0; box-siging: border-box;	
	background-color: #303338;	}*/
	.googlead img {width:100%; height:500px; 		}
		
		
		.main-div{ display:flex; flex-direction:column; width:100%; height:auto; 		}
		.left-div{ display:flex; flex-direction:column; 	}
		.left-div div {width:100%; height:auto; 		}
		.midel-main-div{ display:flex; flex-direction:column; 		}
		.midel-main-div div {width:100%; height:auto; 	}
		.right-div{display:flex; flex-direction:column;	 }
		.right-div div {width:100%; height:auto; 	}
		
		
		.sosel-div1{ width:100%; border-right:none;}
		.sosel-div2{ width:100%; }
		
	}
	
	
	
	
	
	
	