@import 'utilities.css';
@import 'all.css';

header {
    background-color: rgb(27, 25, 25);
    height: 100vh;
    width: 100%;    
}
nav {display:flex; flex-direction: row; width:100%; position:absolute; top: 10%; left: 0px; background-color: royalblue;

}
nav ul {position:absolute;  float: left; margin-left: 170px;list-style-type:none;}
nav ul li {display: inline-block;}
nav ul li a {text-decoration:none; color:rgba(201, 37, 91, 0.856); padding:5px 20px; border:1px solid transparent; transition: 0.6s ease; }
nav ul li a:hover {color:rgb(233, 20, 91);  }
nav ul li.active a {color:rgb(255, 1, 14); }


#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-content: space-evenly;

}
.side-div { 
    background-color: cadetblue;
    color: white;
}
.main-div {
    background-color: black; 
    color: white;
}
.right-div { 
    background-color: darkcyan; 
    color: white;
}

footer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-self: self-start;
    /* justify-content: space-between; */
}
.footer1 {width: 33%;}
.footer1 ul {float:left; list-style-type:none;}
.footer1 li {display: inline-block;}
.footer1 li a {text-decoration: none;padding:5px 20px; border:1px solid transparent; transition: 0.6s ease;}

.footer2 {width: auto;}
.footer2 ul {float:right; list-style-type:none;}
.footer2 ul li {display: inline-block;}
.footer2 ul li a {text-decoration: none; padding:5px 20px; border:1px solid transparent; transition: 0.6s ease;}