:root{
	--dark: #080808;
	--light: rgba(41, 36, 36, 0.849);
	/* HOW TO USE THIS COLOR CODE open css file and type color:var(--light);
	How to import utilities.css file in style.css file 
	 	type in style.css file in :
		@import 'utilities.css';
	*/
}
@font-face { font-family: VariableFont; src: url('../fonts/VariableFont.ttf'); }
	
	*{
		margin:0;
		padding:0;
		box-sizing: border-box;
		font-family: 'Poppins', sans-serif, arial ;

	}
	html, body {
		background : var(--light);
		color :rgba(245, 238, 238, 0.932);
		text-align:center;
		
	}

	p {
		text-align:justify;
		padding:5px 10px;
		/* text-align:center; */
	
	}
	a {
		text-decoration: none;
		color: rgba(11, 52, 236, 0.863);
	
	}
	
	/* Go to Top css styleing  */
	#box button#scrolltopBtn {
		position: absolute;
		width: 60px;
		height: 40px;
		bottom: 2px;
		position: fixed;
		right: 20px;
		bottom: 10px;
		border-radius: 45%;
		cursor: pointer;
		background-color: rgba(146, 28, 28, 0.158);
		z-index: 9999;
	}
/* Go to Top End css styleing */
	/* header{	margin-bottom:	15px;		} */
	/* footer{	margin-top:10px;	} */
	/* div { padding: 5px 10px; background-color: rgba(32, 29, 29, 0.788); color: #f1f1f1;} */
	
	.dropbtn {
		background-color: #3498DB;
		color: white;
		padding: 16px;
		font-size: 16px;
		border: none;
		cursor: pointer;
	}
	.dropbtn:hover, .dropbtn:focus {
		background-color: #2980b9;
	}
	.dorpdown {	
		position: relative;	
		display: inline-block;
	}
	.dorpdown-content {	
		display: none;
		position:absolute;
		background-color: #f1f1f1;
		min-width: 160px;
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
		z-index: 1;
	}
	.dorpdown-content a {
		color: black;
		padding: 12px 16px;
		text-decoration: none;
		display: block;
	}
	.dorpdown a:hover {background-color: #ddd;}
	.show {display: block;}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	